<html>
    <head></head>
    <body>
        <ul>
            <li><a href="/numbers">Form이용해보기</a></li>
            <li><a href="/form">GET과 POST</a></li>
            <li><a href="/url/wild">Parameter(wildcard)</a></li>
            <li><a href="/search">구글/네이버 검색창 만들기</a></li>
            <li><a href="/op_gg">fake op.gg 만들기</a></li>
        </ul>
    </body>
</html>